
# output
**/output_data/

# editor
.idea/
.vscode/
*.user

# build
build/
**/.deps/

# autotools config
config.h
stamp-h1
configure.ac
*.log
*.in
config.status
configure
Makefile
autom4te.cache/

# other
.DS_Store
